.DS_Store
.config/emacs/auto-save/
.config/emacs/auto-save-list/
.config/emacs/eln-cache/
.config/emacs/elpa/
.config/emacs/elpaca/
.config/emacs/history
.config/emacs/places
.config/emacs/projectile-bookmarks.eld
.config/emacs/recentf
.config/emacs/tramp
