[user]
    name = Nathan Louie
    email = nathanhlouie@gmail.com
    signingkey = EDC296781FBB754F
[branch]
    sort = -committerdate
[color]
    ui = true
[column]
    ui = auto
[commit]
    gpgsign = true
    verbose = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    autoupdate = true
    enabled = true
[tag]
    sort = version:refname
